<template>
	<div class="wrapper">
		<ul>
			<li
				v-for="(el, idx) in sidebarMenu"
				:key="idx"
				@click="redirect(el.name)"
			>
				{{ el.name }}
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	data() {
		return {
			sidebarMenu: [
				{
					name: 'Headings'
				},
				{
					name: 'Colors'
				},
				{
					name: 'Lists'
				},
				{
					name: 'Text Alignment'
				},
				{
					name: 'Buttons'
				},

				{
					name: 'Alert'
				},
				{
					name: 'Card'
				},
				{
					name: 'Media Object'
				},
				{
					name: 'Grid'
				},
				{
					name: 'Table'
				},
				{
					name: 'Form'
				},
				{
					name: 'Tabs'
				},
				{
					name: 'Pagination'
				}
			]
		}
	},

	methods: {
		redirect(name) {
			this.$router.push({
				name: 'content',
				params: {
					content: name
				}
			})
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper {
	position: fixed;
	left: 0;
	top: 0%;
	border-right: 1px solid #cccccc;
	height: 100vh;
	width: 13rem;
	padding-top: 6rem;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

ul li {
	color: #4d4d4d;
	text-decoration: none;
	list-style-type: none;
	cursor: pointer;
}

ul li:hover,
ul :focus {
	color: #000;
}
</style>
