<template>
	<main class="site-main">
		<div class="container">
			<p>
				{{ name }}
			</p>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			name: null
		}
	},
	created() {
		this.name = this.$route.params.content
		console.log(this.name)
	}
}
</script>

<style lang="scss" scoped>
.wrapper {
	width: 75%;
	display: block;
	justify-content: end;
}
</style>
